
    <p>Bonjour {{ name }}</p>
    <p>Je vous remercie de la confiance que vous accordez à Dev Club. Nous accusons réception de de votre demande.Soyez
        assuré que je met tout en oeuvre pour répondre dans les meilleurs délais. A trés bienôt</p>

    <table width="600" cellspacing="0" cellpadding="0" border="0"
        style="padding: 32px 0; font-size:13px;font-weight: 500; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'"
        ;>
        <tbody>
            <tr>
                <td width="133" style="vertical-align:top;padding:0 16px">
                   
                </td>
                <td style="border-left:solid #d4d4d4 1px" width="16"></td>
                <td style="vertical-align: top; text-align:left;color:#26363C; text-align:left"> <span
                        style="display: block; padding-top: 15px; line-height:0px;color:#26363C;font-size:18px; font-weight: bold;">Girard Florent</span><br />
                    <span style="margin-bottom:10px;color:#4C4C4C;">Developpeur Fullstack Js</span>
                    <span style="color:#8C8C8C!important;"><br>Freelance</span>
                    <span style="margin-bottom:10px;"><br><br>{{emailPro}}</span>
                    <span style="margin-bottom:10px;"><br>www.devClub.com</span>

                </td>
                </td>
            </tr>
        </tbody>
    </table>
